In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
prezzo_data = pd.read_csv('prezzo_df.csv', encoding='utf-8')
prezzo_data.head(10)

,Unnamed: 0,Company Name,Title of Review,Review Description,Date of Review,No. of stars
0,0,Prezzo,Prezzo Lakeside …,Prezzo Lakeside 3 of us had chicken Alfredo th...,"Oct 24, 2023",Rated 1 out of 5 stars
1,1,Prezzo,Shameful Customer Service - Prezzo @ The Light...,Well we thought what would be nicer than a fin...,"Oct 17, 2023",Rated 1 out of 5 stars
2,2,Prezzo,Had a meal at Prezzo in Bath,Had a meal at Prezzo in Bath. There was six of...,"Oct 20, 2023",Rated 3 out of 5 stars
3,3,Prezzo,Manager of Broughton restaurant was so…,Manager of Broughton restaurant was so rude wh...,"Oct 5, 2023",Rated 1 out of 5 stars
4,4,Prezzo,Poor food quality,We paid £60 For a meal that was very poor an...,"Updated Sep 23, 2023",Rated 1 out of 5 stars
5,5,Prezzo,Cambridge Prezzo Appalling,"Forgotten about once seated. During order, wai...","Sep 7, 2023",Rated 1 out of 5 stars
6,6,Prezzo,Surprised that thus restaurant is…,Surprised that thus restaurant is opened in ce...,"Oct 3, 2023",Rated 2 out of 5 stars
7,7,Prezzo,Chelmsford restaurant,"Chelmsford restaurant. Waitress miserable, rat...","Aug 18, 2023",Rated 1 out of 5 stars
8,8,Prezzo,Can not fault prezzo,Can not fault prezzo. The staff are amazing. S...,"Sep 15, 2023",NaN
9,9,Prezzo,Popped into Prezzo - fabulous server!,"Popped into Prezzo, Lakeside to redeem a Birt...","Apr 15, 2023",Rated 5 out of 5 stars